

.content{
    margin: 2.5em auto;
}

.title{
    color: rgb(99, 99, 99);
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.circulo {
    margin-top: 90px;
    height: 200px;
    width: 200px;
    background: red;
    border-radius: 50%;
    transition-duration: 0.8s;
}

.circulo:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.init{
    color: white;
    background-color: red;
    border: none;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 40%;
    text-align: center;
    font-weight: bolder;
}


.ganador{
    color: black;
    background-color: rgb(216, 221, 236);
    width: 50%;
    margin-left: 330px;
    text-align: center;
    height: 50px;
    border-radius: 20px;
    padding-top: 5px; /*centramos las letras*/
    font-size: 20px;
}

